* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 50px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto auto;
}
.header-left a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}
.header-right a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}
.header-left {
    padding-top: 15px;
}
.header-right {
    padding-top: 15px;
}
/*second header*/

.header-second {
    border-bottom: 1px solid grey;
    height: 120px;
}
.header-second-main {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto auto;
}
.col-1 {
    padding-top: 40px;
}
.col-2 {
    padding-top: 30px;
}
.col-3 {
    padding-top: 30px;
}
.col-4 {
    padding-top: 40px;
}
/* Main navbar */

.main-navbar {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: auto auto;
    margin-top: 10px;
}
.main-navbar-left a {
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.navbar-button {
    background-color: rgb(131, 14, 43);
    width: 250px;
    height: 30px;
    border-radius: 5%;
    color: white;
}
/* Main content */

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(252, 252, 252);
    width: 1000px;
    margin: auto;
    margin-top: 70px;
    background-color: lightgrey;
}
.store-information {
    display: flex;
    flex-direction: column;
}
.location-information {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.email {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.email-text {
    margin-left: 50px;
}
.location-text {
    margin-left: 50px;
}
.email-text p,a {
    font-size: 20px;
}
.location-text p {
    font-size: 20px;
}
.map-area {

    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}
.dropusealine {
    padding-top: 20px;
}
.form-section form {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.customer-section select {
    width: 250px;
    height: 40px;
    border-radius: 5%;
}
.text-section input {
    width: 250px;
    height: 40px;
    border-radius: 5%;
}
.file-section {
    display: flex;
    padding-top: 20px;

}
.txt-area {
    padding-top: 20px;
}
.txt-area textarea {
    width: 562px;
    height: 100px;
}
.post-com {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}
.post-com input {
    background-color: rgb(131, 14, 43);
    width: 150px;
    height: 30px;
    border-radius: 5%;
    color: white;
}
/* Footer Section */
footer {
    background-color: black;
    height: 90px;
    margin-top: 20px;
}
.footer-section {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
}
.mail-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
}
.mail-icon i {
    color: white;
    font-size: 40px;
}
.text-mail {
    color: white;
    padding-left: 15px;
}
.text-mail p {
    color: rgb(170, 169, 169);
}
.subscribe-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;

}
.sub-email {
    height: 40px;
    width: 300px;
    border-radius: 5%;
}
.subsribe-button {
    padding-left: 10px;
}
.sub-button {
    height: 40px;
    width: 120px;
    background-color: rgb(131, 14, 43);
    border-radius: 5%;
    color: white;
}
.icons {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    align-items: center;
}
.left-icons p {
    color: white;
}
.right-icons {
    padding-left: 10px;
}
.right-icons .fa {
    text-decoration: none;
    background-color: black;
    size: 10px;
    color: white;
    font-size: 20px;
}
/* Second Footer */
.second-footer {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
}
.second-footer a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(87, 87, 87);
}
.company {
    display: flex;
    flex-direction: column;
}
.shop {
    display: flex;
    flex-direction: column;
}
.help {
    display: flex;
    flex-direction: column;
}   
.my-acc {
    display: flex;
    flex-direction: column;
}
.contact-info {
    display: flex;
    flex-direction: column;
}  
.h3-footer {
    padding-bottom: 20px;
}
.backcolor {
    background-color: lightgrey;
    margin-top: 20px;
}
.home-cont {
    width: 1000px;
    margin: auto;
    padding-top: 30px;
    padding-left: 50px;
}
.main-navbar-right button {
    position: absolute;
    height: 20px;
    border: none;
    background-color: white;
    padding-top: 3px;
}
.main-navbar-right input {
    position: relative;
    margin-right: -15px;
    height: 20px;
}
